/* reset styles */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.carousel-item img{

    object-fit: fill;
    /* object-position: 50% 50%; */
      
}

.container-marketing{

    text-align: center;
    background-color:white;
    padding: 20px
    
}

.col-lg-4 {

    margin-top: 15px;
    margin-bottom: 15px;

}

.btn {
    background-color: dodgerblue;
    color: black;
}

.cards{
    padding: 20px;
    background-color: white;
}

/* .footer {
    height: 50px;
} */

/* .navbar-brand {
    color: white;
} */

.custom-bg {
    background-color: red;
  }

.container-1{
    position: relative;
    background-color: black;
    height: 50px;
    padding: 0px;
}

.designed{
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin-bottom: 25px;
    text-align: center;
    color: white;
}

.px-3{
    text-align: center;
    padding: 100px;
}

.btn_chk{
    text-align: center;
    padding: 20px;
}

.formulario_chk{
    text-align: left;
    align-items: center;
    padding: 50px;
}

.bmw_png{
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
}

.botao {
    background-color: dodgerblue;
    color: white
}

.botao_chk{

    background-color: dodgerblue;
    color: white;
    text-align: center;
}
